<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Insert title here</title>
</head>
<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<h1>
						<a href="/">Silph<span class="logo_colour">spa</span></a>
					</h1>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">
					<li class="selected"><a href="/">Home</a></li>
					<li><a href="addCliente">Acquista</a></li>
					<li><a href="listaClienti">Lista clienti</a></li>
					<!-- RIMUOVERE QUESTO/I LINK DOPO LO SVILUPPO COMPLETO -->
					<li><a href="inserisciFoto"> Foto</a></li>
					<li><a href="inserisciNomeAlbum"> Album</a></li>
					<li><a href="cercaFoto">Cerca</a></li>
				</ul>
			</div>
		</div>
		<div id="site_content">
				<a href="addCliente"><button>Acquista Selezionate</button></a>
			<div id="content">
				<ul>
					<li th:each="foto : ${tutte}">
						<a	th:href="@{'/foto' + '/' +${foto.id}}"><img th:src="${foto.indirizzo}" th:alt="${foto.descrizione}">
							</a>
						</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>