<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<h1>
						<a href="/">Silph<span class="logo_colour">spa</span></a>
					</h1>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">
					<li><a href="/">Home</a></li>
					<li class="selected"><a href="addCliente">Acquista</a></li>
					<li><a href="logInFunzionario">Area Riservata</a></li>
					<!-- RIMUOVERE QUESTO/I LINK DOPO LO SVILUPPO COMPLETO -->
					<li><a href="inserisciFoto"> Foto</a></li>
					<li><a href="inserisciNomeAlbum"> Album</a></li>
				</ul>
			</div>
		</div>
		<div id="site_content">
			<div id="content">
				<h4>Ricerca</h4>
				<form th:action="@{/ricercaFotografo}" method="get"
					th:object="${ricerca}">
					<table>
						<tr>
							<td>Fotografo:</td>
							<td><input type="text" th:field="*{autore}" /></td>
						</tr>
					</table>
				</form>
				<form th:action="@{/ricercaAlbum}" method="get"
					th:object="${ricerca}">
					<table>
						<tr>
							<td>Album:</td>
							<td><input type="text" th:field="*{album}" /></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>